# Ignore everything
*

# But not these files...
!.gitignore
!default_config.toml
!demo_cloud.toml
!demo_robot.toml
!experiment_talker.toml
!experiment_listener.toml
!docker_talker.toml
!docker_listener.toml