# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!automatic.toml
!talker.toml
!listener.toml
!automatic-docker.toml
!h264_encoder.toml
!h264_decoder.toml
!turtlebot_client.toml
!turtlebot.toml